@charset "UTF-8";

.reserv_cancel_list {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.section {
	width: 100%;
	max-width: 700px;
}

.section_0 {
	border: 1px solid #f0f0f0; /* 연한 회색 테두리 */
	border-radius: 15px;
	margin-bottom: 20px;
	position: relative;
	overflow: hidden;
	max-width: 800px;
	width: 100%;
	padding: 20px;
	background-color: #f8f9fa;
}

.time {
	padding: 10px;
}

p.fw-bold {
	color: #e44d26;
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 0;
}

.card-header {
	background-color: #a377e1; /* 보라색 */
	color: #fff;
}

.list-group-item {
	border: none;
}

.title-text {
	font-weight: bold;
	font-size: 1.2em; /* 원하는 크기로 조절할 수 있습니다. */
	font-family: 'Noto Sans KR', sans-serif;
}

.btn-primary {
	background-color: #6c757d;
	border: none;
	margin-top: 20px;
}

.btn-primary:hover {
	background-color: #495057;
}

.btn-primary {
	background-color: #9b56e9 !important;
	border: none;
	margin-top: 20px;
}

.btn-primary:hover {
	background-color: #7d3aa6 !important; /* Hover 시 변하는 색상 */
}