@charset "UTF-8";
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

#myPage {
	margin: 0 auto;
	padding: 20px;
}

#myPage a {
	color: black;
	text-decoration: none;
}

#userInfo {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#myInfoLink {
	text-decoration: none;
	cursor: pointer;
}

#userInfoText {
	flex: 1;
	text-align: right;
}

#logout {
	text-decoration: none;
	cursor: pointer;
	margin-left: 10px;
}

/* paymentHistoryStyles.css */
.payment-history {
	max-width: 600px;
	margin: 0 auto;
}
.payment-status {
    font-weight: bold;
    font-size: 16px; /* 폰트 크기 조정 (선택적으로 사용) */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.payment-item {
	border: 1px solid #ddd;
	margin: 10px 0;
	padding: 20px;
	background-color: transparent;
	border-radius: 30px;
}




.payment-status {
	font-weight: bold;
	font-size: 16px; /* 폰트 크기 조정 (선택적으로 사용) */
}

.payment-details {
	margin-top: 10px;
}

.payment-description {
	margin: 5px 0;
}

.payment-item form {
	margin-top: -10px; /* 적절한 값으로 조절 (음수 값으로 위로 이동) */
}

.payment-date {
	color: #555;
	float: right;
}

.payment-amount {
	font-weight: bold;
	color: #333;
	margin-top: 10px;
}

a {
	text-decoration: none;
	color: inherit;
	text-decoration : underline;
	text-underline-position : under;
}
.payment-id{
	font-size:14px;
	color:#212529BF;
}