@charset "UTF-8";

@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

.Calendar {
    text-align: center;
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Calendar>thead>tr:first-child>td {
    font-family: 'Questrial', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    padding: 15px;
    color: #575757;
}

.Calendar>thead>tr:last-child>td {
    font-family: 'Questrial', sans-serif;
    font-weight: 600;
    padding: 10px;
}

.Calendar>tbody>tr>td>p {
    font-family: 'Montserrat', sans-serif;
    height: 70px;
    width: 70px;
    transition-duration: .2s;
    line-height: 70px;
    margin: 2.5px;
    display: block;
    text-align: center;
    border-radius: 50px;
}

.Calendar th,
.Calendar td,
.Calendar td.past,
.pastDay {
    border: none;
    padding: 8px;
}

.Calendar td:hover,
.Calendar td.selected {
    border-radius: 15px;
}

.Calendar td.selected {
    color: #fff;
}

.Calendar th:nth-child(1),
.Calendar td:nth-child(1) {
    color: #ff5858;
}

.Calendar th:nth-child(7),
.Calendar td:nth-child(7) {
    color: #3a67b4;
}


.today {
    background-color: #b582ee;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.Calendar .futureDay,
.Calendar .futureDay:hover,
.Calendar .futureDay.choiceDay,
.Calendar .today.choiceDay {
    cursor: pointer;
}



.Calendar .futureDay:hover {
    background-color: #eae9f0;
    border-radius: 60px; 
    transform: scale(1.1); 
}

.Calendar .futureDay.choiceDay,
.Calendar .today.choiceDay {
    background: #887dff;
    color: #fff;
    font-weight: 600;
}

.Calendar td.futureDay {
    color: #333;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
}

.Calendar td.futureDay:hover {
    background: linear-gradient(135deg, #eae9f0, #d8b5f7, #eae9f0);
    border-radius: 10px;
}

.Calendar td.past,
.pastDay {
    color: #212529;
    opacity: 0.7;
}
