@charset "UTF-8";

.text-center{
	display: inline-box;
}
.text-center select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    border: none;
    padding: 6px 12px;
    border-radius: 0;
    border-bottom: 1px solid #ced4da;
    cursor: pointer;
    font-size: 17px; /* 글자 크기 조절 */
    color: #555; /* 글자 색상 조절 */
    position: relative;
     background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23555"><path d="M7 10l5 5 5-5z" /></svg>') no-repeat right 12px center/30px 40px;
}

/* 활성화된 셀렉트 박스 스타일 */
.text-center select:focus {
    outline: none;
    box-shadow: none;
    border-bottom: 2px solid #946CEE; /* 선택 시 밑줄 색상 조절 */
}


/* 선택된 옵션 스타일 */
.text-center select option[selected] {
    background-color: #946CEE; /* 선택된 옵션 배경색 조절 */
    color: #fff; /* 선택된 옵션 글자색 조절 */
}


#clickButton {
	border: 2px solid #9b56e9;
	border-radius: 10px;
	transition: background-color 0.3s, color 0.3s, border-color 0.3s;
	cursor: pointer;
	height: 500px;
}

#clickButton .card-body {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#clickButton:hover {
	background-color: #9b56e9;
	color: #f8ecf3;
	border-color: white;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#coloredCanvas {
	transition: filter 0.3s;
	max-width: 100%;
	height: auto; /* 이미지 비율 유지 */
}

#clickButton:hover #coloredCanvas {
	filter: brightness(8);
}

.tab-buttons {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

.nav-pills .nav-link {
	padding: 12px 20px;
	margin: 0 5px;
	border-radius: 8px;
	color: #fff; /* 텍스트 색상 */
	background-color: #946CEE; /* 배경 색상 */
	border: 1px solid #9b56e9; /* 테두리 색상 */
}

.nav-pills .nav-link.active, .nav-pills .nav-link:hover {
	background-color: #9b56e9; /* 활성 및 호버 상태 배경 색상 */
	border-color: #9b56e9; /* 활성 및 호버 상태 테두리 색상 */
}

.tab-content {
	border: 1px solid #946CEE; /* 티켓 목록 테두리 색상 */
	border-radius: 8px;
	padding: 20px;
}

/* 수강권 결제쪽 */
.ticket-item {
	height: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
}