@charset "UTF-8";

.list-group-item {
	transition: background-color 0.3s, color 0.3s; /* 호버 효과 부드럽게 적용 */
}

/* 체크되었을 때의 스타일 */
input[type="checkbox"].btn-check:checked+.btn {
	border-color: #8a2be2; /* 보라색으로 변경 */
	color: #8a2be2; /* 텍스트 색상도 보라색으로 변경 */
}

/* 체크되지 않았을 때의 스타일 (선택적으로 추가) */
input[type="checkbox"].btn-check:not(:checked)+.btn {
	border-color: #ced4da; /* 기본 보더 색상 (선택적으로 변경) */
	color: #495057; /* 기본 텍스트 색상 (선택적으로 변경) */
}

.no-lessons-message {
	text-align: center;
	padding: 20px;
	background-color: #faf8ff;
	border: 1px solid #fff;
	border-radius: 5px;
	margin: 20px;
}

.message-text {
	color: #363333;
	font-weight: bold;
	margin: 10px 0;
}

.mymodal {
	text-align: right;
}

/* 체크 박스 */
.form-check {
  display: flex;
  align-items: center;
  height: 100%;
}

.form-check-input {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 5px;
}

