@charset "UTF-8";
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

.total-faq-count {
  font-size: 14px;
  color: #888;
  text-align: left;
  padding-left: 10px; /* 왼쪽 패딩을 추가합니다. */
}

#myPage {
	margin: 0 auto;
	padding: 20px;
}
#myPage a {
    color: black; 
    text-decoration: none;
}


#userInfo {
	display: flex;
	justify-content: space-between; 
	align-items: center; 
}

#myInfoLink {
	text-decoration: none;
	cursor: pointer;
}

#userInfoText {
	flex: 1; 
	text-align: right; 
}

#logout {
	text-decoration: none;
	cursor: pointer;
	margin-left: 10px;
}


.my-passes {
    border: 1px solid #ddd; 
    padding: 20px; 
    border-radius:15px;
  padding: 20px;
}


.my-passes {
    text-align: center;
    margin-top: 20px;
    max-width: 600px;
    margin: 50px auto;

}

.navbar{
  margin-top : 60px;
  margin-bottom : 60px;
}


.output-text {
   border-radius: 8px;
	padding: 15px;
	margin-top: 15px;
	background-color: #fff;
}
