@charset "UTF-8";
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

#myPage {
	margin: 0 auto;
	padding: 20px;
}


#myInfoLink {
	text-decoration: none;
	cursor: pointer;
}

#userInfoText {
	flex: 1;
	text-align: right;
}

#logout {
	text-decoration: none;
	cursor: pointer;
	margin-left: 10px;
}

.my-passes {
	border: 1px solid #ddd;
	border-radius: 15px;
	text-align: center;
	margin-top: 20px;
	max-width: 600px;
	margin: 50px auto;
}

.pass-box {
	display: flex;
	justify-content: space-between;
}

.row-custom {
	display: flex;
	flex-wrap: wrap;
	margin-right: -5px;
	margin-left: -5px;
}

.individual-pass, .group-pass {
	border: 1px solid #ddd;
	padding: 20px;
	border-radius: 5px;
	width: calc(50% - 10px); /* Adjusted width to consider the margin */
	box-sizing: border-box;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.icon-list {
	padding: 50px 0;
}

.icon-row {
	margin-bottom: 20px;
}

.icon-item {
	text-align: center;
	padding: 20px;
	border: 1px solid #ddd;
	border-radius: 5px;
	transition: background-color 0.3s;
	
}

.icon-item:hover {
    background-color: #9b56e9;
}

.icon-item:hover i,
.icon-item:hover p {
    color: white;
}

.icon-item a {
    color: black; 
    text-decoration: none;
}

.icon-item i {
    font-size: 36px;
    margin-bottom: 10px;
}

.icon-item p {
    margin: 0; 
}




.icon-box {
    width: 200px; 
    
}

.icon-box p {
    font-size: 30px; /* 적절한 크기로 조정하세요 */
    /* 다른 스타일들... */
}