/* 노벌라이즈 시작 */
body, ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	color: black;
	text-decoration: none;
}

hr {
	background: skyblue;
	height: 2px;
	border: 0;
}

/* 템플릿 구간 노멀라이즈 시작 */

/* 노벌라이즈 끝 */

/* 라이브러리 시작 */


/* 라이브러리 끝 */

/* 메인 시작 */

/* 테이블 시작 */
.search-filter{
	width: 100%;
	height: 300px;
	border-radius: 2em;
    background: aliceblue;
    margin-top: 2%;
    display: flex;
    justify-content: center;
  
}

.search-filter-inner {
   /* border: 2px solid red;*/
    width: 80%;
    height: 100%;
}

.form-control-date{
	display: inline-block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	flex:1;
	width:300px;
}

.search-date{
	display:inline-flex;
	/*border: 2px solid blue;*/
	width: 830px;
	margin-top: 20px;
}

.col-sm-12{

	display:flex;
	/*border: 2px solid green;*/
	width: ;
}

.col-md-3{
	/*border: 2px solid red;*/
	width: 200px;
}

.col-md-6{
	/*border: 2px solid purple;*/
	width: 430px;
	flex:1;
	display: inline-flex;
	padding-top: 32px;
}

.serch-input{
	flex:1;
}

.search-top{
	
	display: flex;
}

.search-btn{
	flex:1;
	/*border: 2px solid orange;*/
	display: inline-block;
}

.serch-filter-content{
	/*border: 5px solid pink;*/
	width: 850px;
	margin: 60px auto;
}

.btn.btn-primary.search{
	width: 85px;
}

/* 테이블 끝 */
.button_con {
	display: flex;
	justify-content: right;
}

/* 메인 끝 */
