@charset "UTF-8";

@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

#myPage {
	margin: 0 auto;
	padding: 20px;
}

#myPage a {
	color: black;
	text-decoration: none;
}

#userInfo {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#myInfoLink {
	text-decoration: none;
	cursor: pointer;
}

#userInfoText {
	flex: 1;
	text-align: right;
}

#logout {
	text-decoration: none;
	cursor: pointer;
	margin-left: 10px;
}


.inquiry-header {
	text-align: center;
	margin-bottom: 20px;
}

.inquiry-button {
	width: 90%;
	margin-top: 50px;
	margin-bottom: 20px;
	padding: 20px 200px;
	font-size: 16px;
	background-color: #9b56e9;
	color: white;
	border: none;
	border-radius: 15px;
	cursor: pointer;
}

.inquiry-button:hover {
	background-color: #8b3beb;
}

.inquiry-history {
	padding: 10px;
}

.inquiry-history h2, .inquiry-history hr {
	margin: 0;
	margin-bottom: 10px;
}


.inquiry-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    margin: 5px 0;
    width: 100%; 
}

.inquiry-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.inquiry-title {
    font-weight: bold;
    font-size: 18px;
    margin: 0;
}

.inquiry-date {
    font-size: 14px;
    color: #555;
    margin: 0;
}

.inquiry-location {
    font-size: 14px;
    color: #888;
}

.inquiry-status {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px; /* 검토중 버튼과 상봉점 사이의 간격을 조절 */
}


.inquiry-reply-container {
	display: none;
}

.inquiry-reply-container.active {
	display: block;
}

.inquiry-body {
    background-color: #fff; 
    border: 1px solid #ebebeb;
    border-radius: 5px;
    padding: 15px; 
}

    .inquiry-body strong {
        display: block; 
        font-weight: bold; 
        font-size: 18px; 
        margin-bottom: 10px; 
        color: #333; 
    }

    .inquiry-body p {
        font-size: 16px; 
        margin-bottom: 10px; 
        color: #555; 
    }
    
    
    
     .reply-content {
        padding: 10px;
        margin-top: 10px;
        background-color: #fff; 
        border-radius: 5px;
    }

    .reply-title,
    .reply-body {
        margin-bottom: 10px;
    }

    .reply-title p,
    .reply-body p {
        margin-left: 10px;
        color: #333;
    }



    