@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

/* �쟾泥� �럹�씠吏� �뒪���씪 */
body {
    font-family: Arial, sans-serif;
}

/* �뿤�뜑 �뒪���씪 */
.header {
    margin-left: 30%;
    margin-top: 10%;
}

.title {
    margin-left: 1%;
    border-left: 2px solid;
    border-color: #9B67FF;
}

/* 遺��젣紐� �뒪���씪 */
.description {
    margin-left: 30%;
}

.subtitle {
    margin-left: 1%;
    width: 270%;
}


.input-form {
    margin-left: 30%;
    margin-top: 1%;
    margin-right: 36%;
    border-bottom: 1px solid;
}

.input-container {
    display: flex;
    margin-bottom: 20px;
}

.input-field {
    width: 230%;
}

/* 硫붿떆吏� �뒪���씪 */
.message {
    margin-left: 30%;
    margin-top: 1%;
}

/* 踰꾪듉 �뒪���씪 */
.button {
    margin-left: 47%;
    margin-top: 2%;
    width: 21%;
}

.primary-button {
    width: 90px;
}


