@charset "UTF-8";

.reserv_cancel_list {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.section_0 {
	background-color: #fb625f;
	border: none;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 20px;
	position: relative;
}

.input-group {
	width: 90%; 
}


.section {
	width: 100%;
	max-width: 700px;
}

.time {
	background-color: #f8f9fa;
	border-radius: 10px;
	padding: 20px;
}

p.lead {
	text-align: center;
	font-size: 1.5em; /* 원하는 크기로 조절 (예: 1.5em) */
	font-weight: lighter; /* 굵기를 얇게 설정 */
}

.card-header {
	background-color: #9b56e9; /* 보라색 */
	color: #fff;
}

.list-group-item {
	border: none;
}

.btn-primary {
	background-color: #6c757d;
	border: none;
	margin-top: 20px;
}

.btn-primary:hover {
	background-color: #495057;
}

/* 다른 스타일은 그대로 두고 취소하기 버튼만 변경 */
.btn-primary {
	background-color: #9b56e9 !important;
	border: none;
	margin-top: 20px;
}

.btn-primary:hover {
	background-color: #7d3aa6 !important; /* Hover 시 변하는 색상 */
}