@charset "UTF-8";

.list-group-item {
    transition: background-color 0.3s, color 0.3s; /* 호버 효과 부드럽게 적용 */
}

/* 호버 시 스타일 변경 */
.list-group-item:hover,
.list-group-item-action:hover {
    background-color: #ad8cd9; /* 보라색 배경 */
    color: #fff; /* 흰색 글씨 */
}


/* 체크되었을 때의 스타일 */
input[type="checkbox"].btn-check:checked + .btn {
    border-color: #8a2be2; /* 보라색으로 변경 */
    color: #8a2be2; /* 텍스트 색상도 보라색으로 변경 */
}

/* 체크되지 않았을 때의 스타일 (선택적으로 추가) */
input[type="checkbox"].btn-check:not(:checked) + .btn {
    border-color: #ced4da; /* 기본 보더 색상 (선택적으로 변경) */
    color: #495057; /* 기본 텍스트 색상 (선택적으로 변경) */
}
