<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="SendEmailHistoryDAO">
	<resultMap type="sendEmailHistoryInfo" id="SendEmailHistoryInfoResult">
		<id property="mhEmailSendCode" column="MH_EMAIL_SEND_CODE"/>
		<result property="mhEmailSendType" column="MH_EMAIL_SEND_TYPE" />
		<result property="mhEmailSendDatetime" column="MH_EMAIL_SEND_DATETIME" />
		<result property="mhRecipientName" column="MH_RECIPIENT_NAME" />
		<result property="mhRecipientTitle" column="MH_RECIPIENT_TITLE" />
		<result property="mhRecipientContent" column="MH_RECIPIENT_CONTENT" />
		<result property="mhRecipientEmail" column="MH_RECIPIENT_EMAIL" />
		<result property="mhSuccessyn" column="MH_SUCCESS_YN" />
		<result property="mhSuccessDatetime" column="MH_SUCCESS_DATETIME" />
		<result property="mhFailReason" column="MH_FAIL_REASON" />
	</resultMap>
	<select id="getSendEmailHistoryInfo" resultMap="SendEmailHistoryInfoResult" parameterType="sendEmailHistoryInfo">
		SELECT * 
		FROM TBL_SEND_EMAIL_HISTORY 
		WHERE MH_EMAIL_SEND_CODE = #{mhEmailSendCode}
	</select>
	<select id="getSendEmailHistoryInfoList" resultMap="SendEmailHistoryInfoResult" parameterType="sendEmailHistoryInfo">
		SELECT MH_EMAIL_SEND_CODE, MH_EMAIL_SEND_TYPE, MH_EMAIL_SEND_DATETIME, MH_RECIPIENT_NAME, MH_RECIPIENT_TITLE ,MH_RECIPIENT_CONTENT,MH_RECIPIENT_EMAIL, MH_SUCCESS_YN, MH_SUCCESS_DATETIME, MH_FAIL_REASON 
		FROM TBL_SEND_EMAIL_HISTORY
		ORDER BY MH_EMAIL_SEND_DATETIME DESC
	</select>
</mapper>