<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ComplaintsDAO">
	<resultMap type="complaintsInfo" id="ComplaintsInfoResult">
		<id property="cpCode" column="CP_CODE"/>
		<result property="cpTargetPostNumber" column="CP_TARGET_POST_NUMBER" />
		<result property="cpTargetPostType" column="CP_TARGET_POST_TYPE" />
		<result property="targetWriterMemberCode" column="TARGET_WRITER_MEMBER_CODE" />
		<result property="blamerMemberCode" column="BLAMER_MEMBER_CODE" />
		<result property="cpDate" column="CP_DATE" />
		<result property="blamerIp" column="BLAMER_IP" />
		<result property="cpOpenYn" column="CP_OPEN_YN" />
		<result property="blamerIp" column="BLAMER_IP" />
		<result property="cmTitle" column="CM_TITLE" />
		<result property="cmContent" column="CM_CONTENT" />
		<result property="blameReasonName" column="BLAME_REASON_NAME" />
		<result property="csEmailId" column="CS_EMAIL_ID" />
		<result property="csName" column="CS_NAME" />
		<result property="cmBlameCount" column="CM_BLAME_COUNT" />
	</resultMap>
	<select id="getComplaintsInfo" resultMap="ComplaintsInfoResult" parameterType="complaintsInfo">
		SELECT * FROM TBL_COMPLAINTS AS A
			INNER JOIN TBL_COMMUNITY AS B ON CAST (A.CP_TARGET_POST_NUMBER AS INTEGER) = B.CM_NUMBER
			INNER JOIN TBL_CST AS D ON A.TARGET_WRITER_MEMBER_CODE = D.CS_MEMBER_CODE
			INNER JOIN TBL_COMPLAINTS_REASON AS C ON A.BLAME_REASON_CODE =C.BLAME_REASON_CODE 
			WHERE CP_CODE = #{cpCode}
	</select>
	<!-- 신고글 리스트  -->
	<select id="getComplaintsInfoList" resultMap="ComplaintsInfoResult" parameterType="complaintsInfo">
		SELECT B.CM_BLAME_COUNT, D.CS_NAME,D.CS_EMAIL_ID ,C.BLAME_REASON_NAME ,B.CM_CONTENT, B.CM_TITLE ,A.CP_CODE, A.CP_TARGET_POST_NUMBER, A.CP_TARGET_POST_TYPE, A.TARGET_WRITER_MEMBER_CODE,A.BLAMER_MEMBER_CODE,A.CP_DATE,A.BLAMER_IP, A.CP_OPEN_YN 
			FROM TBL_COMPLAINTS AS A
			INNER JOIN TBL_COMMUNITY AS B ON CAST (A.CP_TARGET_POST_NUMBER AS INTEGER) = B.CM_NUMBER
			INNER JOIN TBL_CST AS D ON A.TARGET_WRITER_MEMBER_CODE = D.CS_MEMBER_CODE
			INNER JOIN TBL_COMPLAINTS_REASON AS C ON A.BLAME_REASON_CODE =C.BLAME_REASON_CODE 
			ORDER BY A.CP_CODE DESC;
	</select>
	<insert id="insertComplaintsInfo" parameterType="complaintsInfo">
		INSERT INTO TBL_FAQ(FQ_NUMBER, FQ_TITLE, FQ_CONTENT, FQ_WRITER_MEMBER_CODE, FQ_REGDATE, FQ_OPEN_YN) VALUES(nextval('seq_faq'), #{fq_title}, #{fq_content}, '999', CURRENT_TIMESTAMP, #{fq_open_yn})
	</insert>
	<update id="updateComplaintsInfo" parameterType="complaintsInfo">
		UPDATE TBL_FAQ SET FQ_TITLE=#{fq_title}, FQ_CONTENT=#{fq_content}, FQ_OPEN_YN=#{fq_open_yn} WHERE FQ_NUMBER=#{fq_number}
	</update>
	<delete id="deleteComplaintsInfo" parameterType="Integer">
		DELETE FROM TBL_FAQ WHERE FQ_NUMBER = #{fq_number}
	</delete>
	
	<!-- N 상태로 변경  -->
	<update id="updateContractRevokeYN" parameterType="Integer">
		UPDATE TBL_COMPLAINTS set CP_OPEN_YN='false' WHERE cp_code=#{cpCode};
	</update>
	<!-- 신고자 목록 조회 -->
	<select id="getAllComplaintsList" resultMap="ComplaintsInfoResult">
		 SELECT * 
			 FROM TBL_COMPLAINTS A
			 INNER JOIN TBL_COMMUNITY B ON B.CM_NUMBER = A.CP_TARGET_POST_NUMBER
			 WHERE A.CP_CODE = #{cpCode};
	</select>
</mapper>