<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 
<mapper namespace="CommunityDAO">
	<resultMap type="community" id="communityResult">
		<id property="cmNumber" column="CM_NUMBER"></id>
		<result property="cmTitle" column="CM_TITLE"/>
		<result property="cmContent" column="CM_CONTENT"/>
		<result property="cmWriterMemberCode" column="CM_WRITER_MEMBER_CODE"/>
		<result property="csName" column="CS_NAME"/>
		<result property="cmRegdate" column="CM_REGDATE"/>
	</resultMap>	
		
	<select id="getCommunityList" resultMap="communityResult" >
		SELECT c.CM_NUMBER,c.CM_TITLE,c.CM_CONTENT,t.cs_name,c.CM_REGDATE
		FROM tbl_community c
		JOIN tbl_cst t
		ON c.CM_WRITER_MEMBER_CODE = t.cs_member_code
		ORDER BY CM_REGDATE DESC
	</select>
	<select id="getCommunity" resultMap="communityResult">
		<!--
		select cm_number,cm_title, cm_content, (select cs_name from tbl_cst where cs_member_code=#{cmWriterMemberCode}) as cs_name,cm_regdate
		from tbl_community
		where cm_writer_member_code=#{cmWriterMemberCode};

		
		SELECT * FROM TBL_COMMUNITY WHERE CM_NUMBER=#{cmNumber}
		 
		 SELECT c.CM_NUMBER,c.CM_TITLE,c.CM_CONTENT,c.CM_REGDATE,t.cs_name
		 FROM tbl_community c
		JOIN tbl_cst t
		ON c.CM_WRITER_MEMBER_CODE = t.cs_member_code
		WHERE c.CM_WRITER_MEMBER_CODE = #{cmWriterMemberCode};
		-->
		 SELECT CM_NUMBER,CM_TITLE,CM_CONTENT,CM_REGDATE
		 FROM tbl_community
		 WHERE CM_NUMBER = #{cmNumber};
	</select>
	<delete id="deleteCommunity" parameterType="Integer">
		DELETE FROM TBL_COMMUNITY WHERE CM_NUMBER=#{cmNumber}
	</delete>
</mapper>
 