<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="FaqInfoDAO">
	<resultMap type="faqInfo" id="faqInfoResult">
		<id property="fqNumber" column="FQ_NUMBER"/>
		<result property="fqTitle" column="FQ_TITLE" />
		<result property="fqContent" column="FQ_CONTENT" />
		<result property="fqWriterMemberCode" column="FQ_WRITER_MEMBER_CODE" />
		<result property="fqRegDate" column="FQ_REGDATE" />
		<result property="fqOpenYn" column="FQ_OPEN_YN" />
		<result property="fqType" column="FQ_TYPE" />
	</resultMap>
	<select id="getFaqInfo" resultMap="faqInfoResult" parameterType="faqInfo">
		SELECT * FROM TBL_FAQ WHERE FQ_NUMBER = #{fqNumber}
	</select>
	<select id="getFaqInfoList" resultMap="faqInfoResult" parameterType="faqInfo">
		SELECT C.ROLE_NAME, A.FQ_TYPE, A.FQ_NUMBER, A.FQ_TITLE, A.FQ_CONTENT, A.FQ_REGDATE
		FROM TBL_FAQ AS A
		LEFT OUTER JOIN TBL_USER_ROLE C ON C.ROLE_CODE = A.FQ_TYPE;
	</select>
	<insert id="insertFaqInfo" parameterType="faqInfo">
		INSERT INTO TBL_FAQ(FQ_NUMBER, FQ_TITLE, FQ_CONTENT, FQ_WRITER_MEMBER_CODE, FQ_REGDATE, FQ_OPEN_YN, FQ_TYPE) VALUES(nextval('seq_faq'), #{fqTitle}, #{fqContent}, '999', CURRENT_TIMESTAMP, #{fqOpenYn} , #{fqType})
	</insert>
	<update id="updateFaqInfo" parameterType="faqInfo">
		UPDATE TBL_FAQ SET FQ_TITLE=#{fqTitle}, FQ_CONTENT=#{fqContent} WHERE FQ_NUMBER=#{fqNumber}
	</update>
	<delete id="deleteFaqInfo" parameterType="Integer">
		DELETE FROM TBL_FAQ WHERE FQ_NUMBER = #{fqNumber}
	</delete>
</mapper>