<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CenterLessonDAO">
	<resultMap type="centerLesson" id="centerLessonResult">
		<id property="lsCode" column="LS_CODE"/>
		<result property="lsName" column="LS_NAME"/>
		<result property="lsType" column="LS_TYPE"/>
		<result property="lsDate" column="LS_DATE"/>
		<result property="lsTime" column="LS_TIME"/>
		<result property="lsCapacity" column="LS_CAPACITY"/>
		<result property="lsCurrentApplicants" column="LS_CURRENT_APPLICANTS"/>
		<result property="trainerMemberCode" column="TRAINER_MEMBER_CODE"/>
		<result property="lsContent" column="LS_CONTENT"/>
		<result property="centerCode" column="CENTER_CODE"/>
		<result property="lsRegistrationDate" column="LS_REGISTRATION_DATE"/>
		<result property="lsCloseYN" column="LS_CLOSE_YN"/>	
		<result property="csName" column="CS_NAME"/>
		<result property="csMemberCode" column="CS_MEMBER_CODE"/>
		<result property="lsCloseYN" column="LS_CLOSE_YN"/>
		<result property="lsRegistrationDateToString" column="LS_REGISTRATION_DATE_TO_STRING"/>
		<result property="lsCenterName" column="LS_CENTER_NAME"/> 
		
		<result property="atCode" column="AT_CODE" />
		<result property="lessonCode" column="LESSON_CODE" />
	</resultMap>
	
	<select id="getCenterLessonList" resultMap="centerLessonResult" >
		SELECT LS_CODE, LS_NAME, (SELECT CS_NAME FROM TBL_CST WHERE CS_MEMBER_CODE=TRAINER_MEMBER_CODE) as CS_NAME,
			LS_TYPE, LS_DATE, date_part('hour', LS_TIME::timestamp) as LS_TIME,
			LS_CAPACITY, LS_CURRENT_APPLICANTS, LS_CONTENT, CENTER_CODE, LS_REGISTRATION_DATE, LS_CLOSE_YN FROM TBL_LESSON
		WHERE CENTER_CODE=#{centerCode}
		ORDER BY LS_CODE DESC
	</select>
	<select id="getCenterLesson" resultMap="centerLessonResult">
		SELECT LS_CODE, LS_NAME, (SELECT CS_NAME FROM TBL_CST WHERE CS_MEMBER_CODE=TRAINER_MEMBER_CODE) as CS_NAME, LS_TYPE, LS_DATE, date_part('hour', LS_TIME::timestamp) as LS_TIME, LS_CAPACITY, LS_CURRENT_APPLICANTS, LS_CONTENT, CENTER_CODE, LS_DATE, LS_CLOSE_YN FROM TBL_LESSON WHERE LS_CODE=#{lsCode}
	</select>
	<insert id="insertCenterLesson" parameterType="centerLesson">
		WITH new_lesson AS (
		  INSERT INTO TBL_LESSON(LS_CODE, LS_NAME, LS_TYPE, LS_DATE, LS_TIME, LS_CAPACITY, TRAINER_MEMBER_CODE, LS_CONTENT, CENTER_CODE, LS_REGISTRATION_DATE)
		  VALUES (CONCAT('LS', NEXTVAL('SEQ_LESSON')), #{lsName}, #{lsType}, #{lsDate}, to_timestamp('${lsTime}', 'HH24:MI'), #{lsCapacity}, #{trainerMemberCode}, #{lsContent}, #{centerCode}, CURRENT_TIMESTAMP)
		  RETURNING LS_CODE
		)
		INSERT INTO TBL_ATTEND (AT_CODE, LESSON_CODE)
		SELECT CONCAT('AT', NEXTVAL('SEQ_ATTEND')), LS_CODE
		FROM new_lesson;
	</insert>
	<delete id="deleteCenterLesson" parameterType="centerLesson">
		DELETE FROM TBL_LESSON WHERE LS_CODE = #{lsCode}
	</delete>

	<select id="getTrainerCode" resultMap="centerLessonResult">
		SELECT DISTINCT CS_MEMBER_CODE, CS_NAME
		FROM TBL_CST
		WHERE CS_MEMBER_CODE > 8000
		AND (CONNECTED_CENTER_CODE1 = #{centerCode} OR CONNECTED_CENTER_CODE2 = #{centerCode} OR CONNECTED_CENTER_CODE3 = #{centerCode})
	</select>
	
	
	
	
	
	
	<!-- 11/27 attend에 사용할 쿼리 추가 -->
	<!-- 로그인한 강사의 전체 수업 리스트 가져오기 + 센터이름 -->
	<select id="getTrainerLessonListWithCtName" parameterType="int" resultMap="centerLessonResult">
	  SELECT 
	    L.*, 
	    C.CT_NAME AS LS_CENTER_NAME
	  FROM TBL_LESSON L
	  INNER JOIN TBL_CENTER C ON L.CENTER_CODE = C.CT_CODE
	  WHERE L.TRAINER_MEMBER_CODE = #{csMemberCode}
	  AND L.LS_CLOSE_YN = FALSE
	</select>
	
	<!-- 로그인한 강사의 그룹 수업 리스트 가져오기 + 센터이름 -->
	<select id="getGroupLessonListWithCtName" parameterType="int" resultMap="centerLessonResult">
	  SELECT 
	    L.*, 
	    C.CT_NAME AS LS_CENTER_NAME
	  FROM TBL_LESSON L
	  INNER JOIN TBL_CENTER C ON L.CENTER_CODE = C.CT_CODE
	  WHERE L.TRAINER_MEMBER_CODE = #{csMemberCode}
	  AND L.LS_CLOSE_YN = FALSE
	  AND L.LS_TYPE = '그룹'
	</select>
	
	<!-- 로그인한 강사의 개인 수업 리스트 가져오기 + 센터이름 + 예약회원이름 -->
	<select id="getLessonListWithCtNameAndCsName" parameterType="int" resultMap="centerLessonResult">
	  SELECT 
	    L.*, 
	    CST.CS_NAME AS CS_NAME, 
	    CTR.CT_NAME AS LS_CENTER_NAME
	  FROM TBL_LESSON L
	  INNER JOIN TBL_CENTER CTR ON L.CENTER_CODE = CTR.CT_CODE
	  LEFT JOIN TBL_RESERV RSV ON L.LS_CODE = RSV.LESSON_CODE 
	  LEFT JOIN TBL_CST CST ON RSV.MEMBER_CODE = CST.CS_MEMBER_CODE 
	  WHERE L.TRAINER_MEMBER_CODE = #{csMemberCode}
	  AND L.LS_CLOSE_YN = FALSE
	  AND L.LS_TYPE = '개인'
	</select>	

	<!-- 수업 상세 가져오기 + 회원이름 -->
	<select id="getLessonByTrainerWithCsName" parameterType="String"  resultMap="centerLessonResult">
	    SELECT L.*, C.CS_NAME 
	    FROM TBL_LESSON L
	    JOIN TBL_RESERV R ON L.LS_CODE = R.LESSON_CODE 
	    JOIN TBL_CST C ON R.MEMBER_CODE = C.CS_MEMBER_CODE 
	    WHERE R.RS_CANCEL_YN = FALSE
	    AND L.LS_CODE = #{lsCode};
	</select>


</mapper>