<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="NoticeHistoryDAO">
	<resultMap type="noticeHistory" id="NoticeHistoryResult">
		<id property="ncId" column="NC_ID"/>
		<result property="ncSentDatetime" column="NC_SENT_DATETIME" />
		<result property="memberCode" column="MEMBER_CODE" />
		<result property="recipientCode" column="RECIPIENT_CODE" />
		<result property="eventType" column="EVENT_TYPE" />
		<result property="uniqueIdentifierCode" column="UNIQUE_IDENTIFIER_CODE" />
		<result property="readYn" column="READ_YN" />
		<result property="ncNoticeContent" column="NC_NOTICE_CONTENT" />
	</resultMap>
	
	<select id="getNoticeHistoryList" resultMap="NoticeHistoryResult" >
		SELECT * FROM TBL_NOTICE
		WHERE RECIPIENT_CODE=#{currentUserCode}
	</select>
	<select id="getNoticeHistory" resultMap="NoticeHistoryResult">
		SELECT * FROM TBL_NOTICE
		WHERE NC_ID=#{ncId}
	</select>

	
</mapper>