<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CenterLessonDAO">
	<resultMap type="centerLesson" id="centerLessonResult">
		<id property="lsCode" column="LS_CODE"/>
		<result property="lsName" column="LS_NAME"/>
		<result property="lsType" column="LS_TYPE"/>
		<result property="lsDate" column="LS_DATE"/>
		<result property="lsTime" column="LS_TIME"/>
		<result property="lsCapacity" column="LS_CAPACITY"/>
		<result property="lsCurrentApplicants" column="LS_CURRENT_APPLICANTS"/>
		<result property="trainerMemberCode" column="TRAINER_MEMBER_CODE"/>
		<result property="lsContent" column="LS_CONTENT"/>
		<result property="centerCode" column="CENTER_CODE"/>
		<result property="lsRegistrationDate" column="LS_REGISTRATION_DATE"/>
		<result property="lsColseYN" column="LS_CLOSE_YN"/>	
		<result property="csName" column="CS_NAME"/>
		<result property="csMemberCode" column="CS_MEMBER_CODE"/>
		<result property="lsColseYN" column="LS_CLOSE_YN"/>
		<result property="lsRegistrationDateToString" column="LS_REGISTRATION_DATE_TO_STRING"/>
	</resultMap>
	
	<select id="getCenterLessonList" resultMap="centerLessonResult" >
		SELECT LS_CODE, LS_NAME, (SELECT CS_NAME FROM TBL_CST WHERE CS_MEMBER_CODE=TRAINER_MEMBER_CODE) as CS_NAME, LS_TYPE, LS_DATE, date_part('hour', LS_TIME::timestamp) as LS_TIME, LS_CAPACITY, LS_CURRENT_APPLICANTS, LS_CONTENT, CENTER_CODE, LS_REGISTRATION_DATE, LS_CLOSE_YN FROM TBL_LESSON
	</select>
	<select id="getCenterLesson" resultMap="centerLessonResult">
		SELECT LS_CODE, LS_NAME, (SELECT CS_NAME FROM TBL_CST WHERE CS_MEMBER_CODE=TRAINER_MEMBER_CODE) as CS_NAME, LS_TYPE, LS_DATE, date_part('hour', LS_TIME::timestamp) as LS_TIME, LS_CAPACITY, LS_CURRENT_APPLICANTS, LS_CONTENT, CENTER_CODE, LS_DATE, LS_CLOSE_YN FROM TBL_LESSON WHERE LS_CODE=#{lsCode}
	</select>
	<insert id="insertCenterLesson" parameterType="centerLesson">
		INSERT INTO TBL_LESSON(LS_CODE, LS_NAME, LS_TYPE, LS_DATE, LS_TIME, LS_CAPACITY, TRAINER_MEMBER_CODE, LS_CONTENT, CENTER_CODE, LS_REGISTRATION_DATE, LS_CLOSE_YN)
		VALUES (CONCAT('LS', NEXTVAL('SEQ_LESSON')), #{lsName}, #{lsType}, #{lsDate}, to_timestamp('${lsTime}', 'HH24:00'), #{lsCapacity}, #{trainerMemberCode}, #{lsContent}, 111, CURRENT_TIMESTAMP, ${lsColseYN})
	</insert>
	<delete id="deleteCenterLesson" parameterType="centerLesson">
		DELETE FROM TBL_LESSON WHERE LS_CODE = #{lsCode}
	</delete>
	<update id="updateCenterLesson"  parameterType="centerLesson">
		UPDATE TBL_LESSON SET LS_CLOSE_YN=${lsColseYN} WHERE LS_CODE=#{lsCode}
	</update>
	
	<select id="getTrainerCode" resultMap="centerLessonResult">
		SELECT DISTINCT CS_MEMBER_CODE, CS_NAME
		FROM TBL_CST
		WHERE CS_MEMBER_CODE > 8000
		AND (CONNECTED_CENTER_CODE1 = 111 OR CONNECTED_CENTER_CODE2 = 111 OR CONNECTED_CENTER_CODE3 = 111)
	</select>
</mapper>