<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MemberManageDAO">
	<resultMap type="member" id="memberResult">
	    <id property="csMemberCode" column="CS_MEMBER_CODE"/>
	    <result property="csEmailId" column="CS_EMAIL_ID"/>
	    <result property="csPassword" column="CS_PASSWORD" />
	    <result property="csName" column="CS_NAME" />
	    <result property="csPhoneNumber1" column="CS_PHONE_NUMBER1" />
	    <result property="csPhoneNumber2" column="CS_PHONE_NUMBER2" />
	    <result property="csPhoneNumber3" column="CS_PHONE_NUMBER3" />
	    <result property="csRegistrationDate" column="CS_REGISTRATION_DATE" />
	    <result property="csBirth" column="CS_BIRTH" />
	    <result property="csGenderMw" column="CS_GENDER_MW" />
	    <result property="csDeleteYn" column="CS_DELETE_YN" />
	    <result property="csAgreementYn1" column="CS_AGREEMENT_YN1" />
	    <result property="csAgreementYn2" column="CS_AGREEMENT_YN2" />
	    <result property="csAgreementYn3" column="CS_AGREEMENT_YN3" />
	    <result property="csRegistrationType" column="CS_REGISTRATION_TYPE" />
	    <result property="csRegistrationDate" column="CS_REGISTRATION_DATE" />
	    <result property="csRoleCode" column="CS_ROLE_CODE" />
	    <result property="connectedCenterCode1" column="CONNECTED_CENTER_CODE1" />
	    <result property="connectedCenterCode2" column="CONNECTED_CENTER_CODE2" />
	    <result property="connectedCenterCode3" column="CONNECTED_CENTER_CODE3" />
	    <result property="connectedCenterName1" column="CONNECTED_CENTER_NAME1" />
	    <result property="connectedCenterName2" column="CONNECTED_CENTER_NAME2" />
	    <result property="connectedCenterName3" column="CONNECTED_CENTER_NAME3" />
	    <result property="ticketCodePersonal1" column="TICKET_CODE_PERSONAL1" />
		<result property="ticketRemainingCountPersonal1" column="TICKET_REMAINING_COUNT_PERSONAL1" />
		<result property="ticketStartDatePersonal1" column="TICKET_START_DATE_PERSONAL1" />
		<result property="ticketExpiryDatePersonal1" column="TICKET_EXPIRY_DATE_PERSONAL1" />
		<result property="ticketExpiryYnPersonal1" column="TICKET_EXPIRY_YN_PERSONAL1" />
		<result property="ticketCodeGroup1" column="TICKET_CODE_GROUP1" />
		<result property="ticketRemainingCountGroup1" column="TICKET_REMAINING_COUNT_GROUP1" />
		<result property="ticketStartDateGroup1" column="TICKET_START_DATE_GROUP1" />
		<result property="ticketExpiryDateGroup1" column="TICKET_EXPIRY_DATE_GROUP1" />
		<result property="ticketExpiryYnGroup1" column="TICKET_EXPIRY_YN_GROUP1" />
	</resultMap>

	<resultMap type="com.dev.pilafix.admin.member_trainer_manage.PaymentHistoryVO" id="paymentResult">
		<id property="paId" column="PA_ID" />
		<result property="ticketCode" column="TICKET_CODE" />
		<result property="paAmount" column="PA_AMOUNT" />
		<result property="memberCode" column="MEMBER_CODE" />
		<result property="paMethod" column="PA_METHOD" />
		<result property="paDatetime" column="PA_DATETIME" />
		<result property="centerName" column="CENTER_NAME" />
		<result property="ticketName" column="TICKET_NAME" />
		<result property="paCancelYn" column="PA_CANCEL_YN" />
	</resultMap>

	<resultMap type="question" id="questionResult">
		<id property="qsNumber" column="QS_NUMBER"/>
		<result property="qsTitle" column="QS_TITLE" />
		<result property="qsContent" column="QS_CONTENT" />
		<result property="qsWriterMemberCode" column="QS_WRITER_MEMBER_CODE" />
		<result property="qsRegdate" column="QS_REGDATE" />
		<result property="qsModifiedDate" column="QS_MODIFIED_DATE" />
		<result property="qsAnswerYn" column="QS_ANSWER_YN" />
	</resultMap>
	
	<resultMap type="connectRequest" id="connectRequestResult">
		<id property="crCode" column="cr_code" />
		<result property="memberCode" column="MEMBER_CODE" />
		<result property="memberName" column="MEMBER_NAME" />
		<result property="centerCode" column="CENTER_CODE" />
		<result property="memberPhone" column="MEMBER_PHONE" />
		<result property="crReqDate" column="CR_REQ_DATE" />
		<result property="crConnectionYn" column="CR_CONNECTION_YN" />
		<result property="crConnectionDate" column="CR_CONNECTION_DATE" />
	</resultMap>
	
	<resultMap type="com.dev.pilafix.admin.member_trainer_manage.CenterConnectHistoryVO" id="connectHistoryResult">
		<id property="chCode" column="CH_CODE" />
		<result property="memberCode" column="MEMBER_CODE" />
		<result property="centerCode" column="CENTER_CODE" />
		<result property="chDatetime" column="CH_DATETIME" />
		<result property="chCurrentConnectionYN" column="CH_CURRENT_CONNECTION_YN" />
		<result property="disconnection_date" column="DISCONNECTION_DATE" />
		<result property="centerName" column="CENTER_NAME" />
		<result property="centerAddress" column="CENTER_ADDRESS" />
	</resultMap>
	

	<resultMap type="com.dev.pilafix.center.lesson.CenterLessonVO" id="centerLessonResult">
		<id property="lsCode" column="LS_CODE"/>
		<result property="lsName" column="LS_NAME"/>
		<result property="lsType" column="LS_TYPE"/>
		<result property="lsDate" column="LS_DATE"/>
		<result property="lsTime" column="LS_TIME"/>
		<result property="lsEndTime" column="LS_END_TIME"/>
		<result property="lessonDatetime" column="COMBINED_DATETIME"/>
		<result property="lessonEndDatetime" column="COMBINED_END_DATETIME"/>
		<result property="lsCapacity" column="LS_CAPACITY"/>
		<result property="lsCurrentApplicants" column="LS_CURRENT_APPLICANTS"/>
		<result property="trainerMemberCode" column="TRAINER_MEMBER_CODE"/>
		<result property="lsContent" column="LS_CONTENT"/>
		<result property="centerCode" column="CENTER_CODE"/>
		<result property="lsRegistrationDate" column="LS_REGISTRATION_DATE"/>
		<result property="lsCloseYN" column="LS_CLOSE_YN"/>	
		<result property="csName" column="CS_NAME"/>
		<result property="csMemberCode" column="CS_MEMBER_CODE"/>
		<result property="lsRegistrationDateToString" column="LS_REGISTRATION_DATE"/>
		<result property="groupCount" column="GROUP_COUNT"/>
		<result property="personalCount" column="PERSONAL_COUNT"/>
		<result property="closedGroupCount" column="CLOSED_GROUP_COUNT"/>
		<result property="closedPersonalCount" column="CLOSED_PERSONAL_COUNT"/>
	</resultMap>
	
	<resultMap type="com.dev.pilafix.center.member_trainer_manage.TicketInfoVO" id="ticketInfo">
		<result property="tkCode" column="TK_CODE" />
		<result property="tkName" column="TK_NAME" />
		<result property="tkUsageCount" column="TK_USAGE_COUNT"/>
	</resultMap>

	<resultMap type="mySchedule" id="myScheduleResult">
		<id property="lsCode" column="LESSON_CODE"/>
		<result property="lsName" column="LS_NAME"/>
		<result property="lsType" column="LS_TYPE"/>
		<result property="lsDate" column="LS_DATE"/>
		<result property="lsTime" column="LS_TIME"/>
		<result property="lsEndTime" column="LS_END_TIME"/>
		<result property="lessonDatetime" column="COMBINED_DATETIME"/>
		<result property="trainerMemberCode" column="TRAINER_MEMBER_CODE"/>
		<result property="trainerMemberName" column="TRAINER_MEMBER_NAME"/>
		<result property="centerCode" column="CENTER_CODE"/>
		<result property="centerName" column="CENTER_NAME"/>
		<result property="lsColseYN" column="LS_CLOSE_YN"/>	
		<result property="rsCode" column="RS_CODE"/>	
		<result property="rsDatetime" column="RS_DATETIME"/>	
	</resultMap>	
	
	<!-- 센터 회원 목록 조회 -->
	<select id="getMemberList" resultMap="memberResult">
		SELECT * FROM TBL_CST
		WHERE CS_ROLE_CODE = 'ME'
		AND (CONNECTED_CENTER_CODE1 = #{ctCode} OR CONNECTED_CENTER_CODE2 = #{ctCode} OR CONNECTED_CENTER_CODE3 = #{ctCode})
	</select>
	
	<!-- 관리자 회원 목록 조회 -->
	<select id="adminGetMemberList" resultMap="memberResult">
		SELECT * FROM TBL_CST
		WHERE CS_ROLE_CODE = 'ME'
	</select>
	
	<!-- 상세 조회 -->
	<select id="getMemberManage" resultMap="memberResult" >
		SELECT *, 
		(SELECT CT_NAME FROM TBL_CENTER WHERE CT_CODE=CONNECTED_CENTER_CODE1) AS CONNECTED_CENTER_NAME1,
		(SELECT CT_NAME FROM TBL_CENTER WHERE CT_CODE=CONNECTED_CENTER_CODE2) AS CONNECTED_CENTER_NAME2,
		(SELECT CT_NAME FROM TBL_CENTER WHERE CT_CODE=CONNECTED_CENTER_CODE3) AS CONNECTED_CENTER_NAME3
		FROM TBL_CST 
		WHERE CS_MEMBER_CODE=#{csMemberCode}
	</select>
	<!-- 문의사항 조회 -->
	<select id="getQuestionForManage" resultMap="questionResult">
		SELECT * FROM TBL_QUESTION WHERE QS_WRITER_MEMBER_CODE=#{csMemberCode}
	</select>
	<!-- 결제 내역 조회 -->
	<select id="getPaymentForManage" resultMap="paymentResult">
		SELECT PA_ID, TICKET_CODE, 
		(SELECT CT_NAME FROM TBL_CENTER WHERE CT_CODE=(SELECT CENTER_CODE FROM TBL_TICKET WHERE TK_CODE=pay.TICKET_CODE)) AS CENTER_NAME, 
		PA_AMOUNT, MEMBER_CODE, PA_METHOD, PA_DATETIME, (SELECT TK_NAME FROM TBL_TICKET WHERE TK_CODE=pay.TICKET_CODE) AS TICKET_NAME
		FROM TBL_PAYMENT pay
		WHERE MEMBER_CODE=#{csMemberCode}
			AND PA_CANCEL_YN=FALSE
	</select>
	<!-- 화면 출력에 필요한 수강권 정보 조회  -->
	<select id="getTicketInfo" resultMap="ticketInfo">
		SELECT TK_CODE, TK_NAME, TK_USAGE_COUNT FROM TBL_TICKET
		WHERE TK_CODE=#{tkCode}
	</select>
	<!-- 화면 출력에 필요한 센터 연동 센터 내역 조회 -->
	<select id="getCenterConnectHistory" resultMap="connectHistoryResult">
		SELECT CH_CODE, CENTER_CODE,(SELECT CT_NAME FROM TBL_CENTER WHERE CT_CODE=CENTER_CODE)as CENTER_NAME, 
		(SELECT CT_ADDRESS1 || ' ' || CT_ADDRESS2 || ' ' || CT_ADDRESS3 FROM TBL_CENTER WHERE CT_CODE=CENTER_CODE)as CENTER_ADDRESS
		FROM TBL_CENTER_CONN WHERE MEMBER_CODE=#{csMemberCode}
	</select>
	<!-- 화면 출력에 필요한 예약 내역 조회  -->
	<select id="getReservationForManage" resultMap="myScheduleResult">
		SELECT 
		    R.RS_DATETIME, 
		    (L.LS_DATE::TIMESTAMP + L.LS_TIME::TIME)::TIMESTAMP WITH TIME ZONE AS COMBINED_DATETIME,
		    L.LS_NAME, C.CS_NAME AS TRAINER_MEMBER_NAME, CT.CT_NAME AS CENTER_NAME,
		    R.RS_DATETIME AS RS_DATETIME
		FROM 
		    TBL_RESERV R
		JOIN TBL_LESSON L ON R.LESSON_CODE = L.LS_CODE
		JOIN TBL_CST C ON L.TRAINER_MEMBER_CODE = C.CS_MEMBER_CODE
		JOIN TBL_CENTER CT ON L.CENTER_CODE = CT.CT_CODE
		WHERE R.MEMBER_CODE = #{csMemberCode}
		    AND R.RS_CANCEL_YN = FALSE
		ORDER BY COMBINED_DATETIME DESC;
	</select>
	
	<!-- 센터 강사 목록 조회 -->
	<select id="getTrainerList" resultMap="memberResult">
		SELECT * FROM TBL_CST 
		WHERE CS_ROLE_CODE = 'TR'
		AND (CONNECTED_CENTER_CODE1 = #{ctCode} OR CONNECTED_CENTER_CODE2 = #{ctCode} OR CONNECTED_CENTER_CODE3 = #{ctCode})
	</select>
	
	<!-- 웹관리자의 강사 목록 조회 -->
	<select id="adminGetTrainerList" resultMap="memberResult">
		SELECT * FROM TBL_CST 
		WHERE CS_ROLE_CODE = 'TR'
	</select>
	
	<!-- 회원 연동 요청 목록 조회  -->
	<select id="getCenterRequestForMe" resultMap="connectRequestResult" >
		<![CDATA[
		SELECT * FROM TBL_CENTER_REQUEST 
		WHERE CENTER_CODE=#{ctCode} 
			AND CR_CONNECTION_YN=FALSE 
			AND MEMBER_CODE < 8000 
			AND CR_REJECT_DATE IS NULL
		]]>
		<!-- select * from tbl_center_request where center_code=#{centerCode} and cr_connection_yn=false AND MEMBER_CODE &gt 8000 AND CR_REJECT_DATE IS NULL  -->
	</select>
	<!-- 강사 연동 요청 목록 조회  -->
	<select id="getCenterRequestForTr" resultMap="connectRequestResult" >
		<![CDATA[
		SELECT * FROM TBL_CENTER_REQUEST 
		WHERE CENTER_CODE=#{ctCode} 
			AND CR_CONNECTION_YN=FALSE 
			AND MEMBER_CODE > 8000
			AND CR_REJECT_DATE IS NULL
		]]>
		<!-- select * from tbl_center_request where center_code=#{centerCode} and cr_connection_yn=false AND MEMBER_CODE &lt 8000 AND CR_REJECT_DATE IS NULL-->
	</select>
	
	
	<!-- 연동처리 STEP01 - TBL_CENTER_REQUEST 연동여부, 일자 업데이트  -->
	<update id="updateConn"  >
		UPDATE TBL_CENTER_REQUEST 
		SET CR_CONNECTION_YN=TRUE, CR_CONNECTION_DATE=CURRENT_TIMESTAMP 
		WHERE CR_CODE=#{crCode}
	</update> 
	<!-- 연동처리 STEP02 - TBL_CENTER_CONN에 이력 등록  -->
	<insert id="insertConnHistory" parameterType="java.util.Map">
		INSERT INTO TBL_CENTER_CONN 
		VALUES(#{crCode}, #{memberCode}, #{centerCode}, CURRENT_TIMESTAMP, TRUE)
	</insert>
	<!-- 연동처리 STEP03 - TBL_CST CONNECTED_CENTER_CODE 업데이트  -->
	<update id="updateCSTConn" parameterType="java.util.Map">
	    UPDATE TBL_CST SET
	        CONNECTED_CENTER_CODE1 = CASE WHEN CONNECTED_CENTER_CODE1 = 0 THEN #{centerCode} ELSE CONNECTED_CENTER_CODE1 END,
		    CONNECTED_CENTER_CODE2 = CASE WHEN CONNECTED_CENTER_CODE1 != 0 AND CONNECTED_CENTER_CODE2 = 0 THEN #{centerCode} ELSE CONNECTED_CENTER_CODE2 END,
		    CONNECTED_CENTER_CODE3 = CASE WHEN CONNECTED_CENTER_CODE1 != 0 AND CONNECTED_CENTER_CODE2 != 0 AND CONNECTED_CENTER_CODE3 = 0 THEN #{centerCode} ELSE CONNECTED_CENTER_CODE3 END
	    WHERE CS_MEMBER_CODE = #{memberCode}
	</update>
	
	<!-- 연동 거절 -->
	<update id="updateRejectDate">
		UPDATE TBL_CENTER_REQUEST 
		SET CR_REJECT_DATE=CURRENT_TIMESTAMP
		WHERE CR_CODE=#{crCode}
	</update>
	<select id="getMemberCode" resultType="Integer">
		SELECT MEMBER_CODE FROM TBL_CENTER_REQUEST WHERE CR_CODE=#{crCode}
	</select>
	
	
	<!-- 회원/강사 목록 조회 -->
	<select id="getMember" resultMap="memberResult" >
		SELECT *  FROM TBL_CST WHERE CS_MEMBER_CODE=#{csMemberCode}
	</select>
	
	<!-- 강사의 그룹수업 조회(오늘날짜 수업만 가져옴) -->
	<select id="getGroupLesson" resultMap="centerLessonResult" >
		SELECT LS_NAME,LS_DATE,LS_CLOSE_YN,
				TO_CHAR(ls_time, 'AM HH:MI') AS LS_TIME, 
	        	TO_CHAR(ls_time + INTERVAL '50 minutes', 'AM HH:MI') AS LS_END_TIME,
	        	(LS_DATE::TIMESTAMP + LS_TIME::TIME)::TIMESTAMP WITH TIME ZONE AS COMBINED_DATETIME,
	        	(LS_DATE::TIMESTAMP + TO_CHAR(ls_time + INTERVAL '50 minutes', 'AM HH:MI')::TIME)::TIMESTAMP WITH TIME ZONE AS COMBINED_END_DATETIME
		FROM TBL_LESSON 
		WHERE trainer_member_code=#{csMemberCode} 
		AND ls_type='그룹'
		AND LS_DATE = CURRENT_DATE
		ORDER BY COMBINED_DATETIME DESC
	</select>
	
	<!-- 강사의 개인수업 조회(오늘날짜 수업만 가져옴) -->
	<select id="getPersonalLesson" resultMap="centerLessonResult" >
		SELECT LS_NAME,LS_DATE,LS_CLOSE_YN,
				TO_CHAR(ls_time, 'AM HH:MI') AS LS_TIME, 
	        	TO_CHAR(ls_time + INTERVAL '50 minutes', 'AM HH:MI') AS LS_END_TIME,
	        	(LS_DATE::TIMESTAMP + LS_TIME::TIME)::TIMESTAMP WITH TIME ZONE AS COMBINED_DATETIME,
	        	(LS_DATE::TIMESTAMP + TO_CHAR(ls_time + INTERVAL '50 minutes', 'AM HH:MI')::TIME)::TIMESTAMP WITH TIME ZONE AS COMBINED_END_DATETIME
		FROM TBL_LESSON 
		WHERE trainer_member_code=#{csMemberCode} 
		AND ls_type='개인'
		AND LS_DATE = CURRENT_DATE
		ORDER BY COMBINED_DATETIME DESC
	</select>
	
	<!-- 강사의 전체수업 조회 -->
	<select id="getAllLesson" resultMap="centerLessonResult" >
		SELECT LS_NAME,LS_DATE,LS_CLOSE_YN,LS_TYPE,
				TO_CHAR(ls_time, 'AM HH:MI') AS LS_TIME, 
	        	TO_CHAR(ls_time + INTERVAL '50 minutes', 'AM HH:MI') AS LS_END_TIME,
	        	(LS_DATE::TIMESTAMP + LS_TIME::TIME)::TIMESTAMP WITH TIME ZONE AS COMBINED_DATETIME,
	        	(LS_DATE::TIMESTAMP + TO_CHAR(ls_time + INTERVAL '50 minutes', 'AM HH:MI')::TIME)::TIMESTAMP WITH TIME ZONE AS COMBINED_END_DATETIME
		FROM TBL_LESSON 
		WHERE trainer_member_code=#{csMemberCode} 
		ORDER BY COMBINED_DATETIME DESC
	</select>
	
	<!-- 개인수업/그룹수업 갯수 반환 (현재 날짜를 기준으로 전월 한달에 해당하는 것만) & 그룹 개인수업 각각 폐강된 갯수 반환-->
	<select id="getLessonCount" resultMap="centerLessonResult" >
		SELECT
		 	COUNT(CASE WHEN ls_type = '그룹' THEN 1 END) AS GROUP_COUNT,
		  	COUNT(CASE WHEN ls_type = '개인' THEN 1 END) AS PERSONAL_COUNT,
		  	COUNT(CASE WHEN ls_type = '그룹' AND ls_close_yn = true THEN 1 END) AS CLOSED_GROUP_COUNT,
		  	COUNT(CASE WHEN ls_type = '개인' AND ls_close_yn = true THEN 1 END) AS CLOSED_PERSONAL_COUNT
		FROM
	  	tbl_lesson
		WHERE
	  	DATE_TRUNC('month', ls_date) = DATE_TRUNC('month', CURRENT_DATE) - INTERVAL '1 month'
	  	AND trainer_member_code = #{csMemberCode}
	</select>
	
	<!-- 관리자 회원 엑셀 출력 -->
	<select id="getExelMember" resultMap="memberResult">
		SELECT T1.CS_MEMBER_CODE, T1.CS_EMAIL_ID, T1.CS_NAME, T1.CS_PHONE_NUMBER1, T1.CS_PHONE_NUMBER2, T1.CS_PHONE_NUMBER3, T1.CS_REGISTRATION_DATE, T1.CS_BIRTH, T1.CS_GENDER_MW, T1.CS_DELETE_YN, T1.CS_REGISTRATION_TYPE,
		(SELECT CT_NAME FROM TBL_CENTER WHERE CT_CODE = T1.CONNECTED_CENTER_CODE1) AS CONNECTED_CENTER_NAME1,
		(SELECT CT_NAME FROM TBL_CENTER WHERE CT_CODE = T1.CONNECTED_CENTER_CODE2) AS CONNECTED_CENTER_NAME2,
		(SELECT CT_NAME FROM TBL_CENTER WHERE CT_CODE = T1.CONNECTED_CENTER_CODE3) AS CONNECTED_CENTER_NAME3
		FROM TBL_CST T1
		WHERE T1.CS_ROLE_CODE = 'ME'
		ORDER BY T1.CS_MEMBER_CODE DESC
	</select>
	
	<!-- 웹관리자의 트레이너 엑셀 출력 -->
	<select id="getExelTrainer" resultMap="memberResult">
		SELECT T1.CS_MEMBER_CODE, T1.CS_EMAIL_ID, T1.CS_NAME, T1.CS_PHONE_NUMBER1, T1.CS_PHONE_NUMBER2, T1.CS_PHONE_NUMBER3, T1.CS_REGISTRATION_DATE, T1.CS_BIRTH, T1.CS_GENDER_MW, T1.CS_DELETE_YN, T1.CS_REGISTRATION_TYPE,
		(SELECT CT_NAME FROM TBL_CENTER WHERE CT_CODE = T1.CONNECTED_CENTER_CODE1) AS CONNECTED_CENTER_NAME1,
		(SELECT CT_NAME FROM TBL_CENTER WHERE CT_CODE = T1.CONNECTED_CENTER_CODE2) AS CONNECTED_CENTER_NAME2,
		(SELECT CT_NAME FROM TBL_CENTER WHERE CT_CODE = T1.CONNECTED_CENTER_CODE3) AS CONNECTED_CENTER_NAME3
		FROM TBL_CST T1
		WHERE T1.CS_ROLE_CODE = 'TR'
		ORDER BY T1.CS_MEMBER_CODE DESC
	</select>
	
	
	<!-- 11/30 자동 수강권 만료 처리 -->
	<select id="autoExpiryTicketsForPersonal">
		<![CDATA[
			UPDATE tbl_cst
			SET ticket_expiry_yn_personal1 = TRUE
			WHERE ticket_expiry_date_personal1::DATE = CURRENT_DATE - INTERVAL '1 day';
		]]>
	</select>
	<select id="autoExpiryTicketsForGroup">
		<![CDATA[
			UPDATE tbl_cst
			SET ticket_expiry_yn_group1 = TRUE
			WHERE ticket_expiry_date_group1::DATE =CURRENT_DATE - INTERVAL '1 day';
		]]>
	</select>
	
	
</mapper>