<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


	<mapper namespace="KakaoLoginDAO">
	<resultMap type="kakaologin" id="kakaologinResult">
		<id property="csMemberCode" column="CS_MEMBER_CODE"/>
		<result property="csRoleCode" column="CS_ROLE_CODE" />
		<result property="K_email" column="CS_EMAIL_ID" />
		<result property="csPassword" column="CS_PASSWORD" />
		<result property="K_name" column="CS_NAME" />
	</resultMap>
	

	<select id="kakaoLoginTest" parameterType="java.util.HashMap" resultMap="kakaologinResult">
		SELECT * FROM TBL_CST WHERE CS_NAME=#{nickname} and CS_EMAIL_ID=#{email}
	</select>

	<!-- 
	<insert id="insert" parameterType="java.util.HashMap">
		INSERT INTO TBL_CST(CS_NAME,CS_EMAIL_ID) VALUES(#{nickname},#{email})
	</insert>
	 -->
	 
	 
</mapper>