<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MemberTicketDAO">
	<resultMap type="com.dev.pilafix.common.member.CenterVO" id="centerResult">
		<result property="ctName" column="CT_NAME" />
		<result property="ctCode" column="CT_CODE" />
	</resultMap>
	
<resultMap type="centerTicket" id="centerTicketResult">
		<id property="tkCode" column="TK_CODE"/>
		<result property="tkName" column="TK_NAME"/>
		<result property="tkLessonType" column="TK_LESSON_TYPE"/>
		<result property="tkCapacity" column="TK_CAPACITY"/>
		<result property="tkUsageNumMonth" column="TK_USAGE_NUM_MONTH"/>
		<result property="tkUsageCount" column="TK_USAGE_COUNT"/>
		<result property="tkDescription" column="TK_DESCRIPTION"/>
		<result property="tkPriceAddDot" column="TK_PRICE"/>
		<result property="purchaseAvailableYN" column="PURCHASE_AVAILABLE_YN"/>
		<result property="centerCode" column="CENTER_CODE"/>
		<result property="RegistrationDate" column="REGISTRATION_DATE"/>
	</resultMap>
	
<resultMap type="userguide" id="userguideResult">
		<id property="ugCode" column="UG_CODE"/>
		<result property="ugType" column="UG_TYPE" />
		<result property="ugName" column="UG_NAME" />
		<result property="ugContent" column="UG_CONTENT" />
		<result property="ugRegistrationDate" column="UG_REGISTRATION_DATE" />
		<result property="ugModifiedDate" column="UG_MODIFIED_DATE" />
		<result property="ugOpenYN" column="UG_OPEN_YN" />
		<result property="ugCenterCode" column="UG_CENTER_CODE" />
	</resultMap>
	
<resultMap type="member" id="memberloginResult">
		<id property="csMemberCode" column="CS_MEMBER_CODE"/>
		<result property="csName" column="CS_NAME" />
		<result property="connectedCenterCode1" column="CONNECTED_CENTER_CODE1" />
		<result property="connectedCenterCode2" column="CONNECTED_CENTER_CODE2" />
		<result property="connectedCenterCode3" column="CONNECTED_CENTER_CODE3" />
		<result property="ticketCodePersonal1" column="TICKET_CODE_PERSONAL1" />
		<result property="ticketRemainingCountPersonal1" column="TICKET_REMAINING_COUNT_PERSONAL1" />
		<result property="ticketStartDatePersonal1" column="TICKET_START_DATE_PERSONAL1" />
		<result property="ticketExpiryDatePersonal1" column="TICKET_EXPIRY_DATE_PERSONAL1" />
		<result property="ticketExpiryYnPersonal1" column="TICKET_EXPIRY_YN_PERSONAL1" />
		<result property="ticketCodeGroup1" column="TICKET_CODE_GROUP1" />
		<result property="ticketRemainingCountGroup1" column="TICKET_REMAINING_COUNT_GROUP1" />
		<result property="ticketStartDateGroup1" column="TICKET_START_DATE_GROUP1" />
		<result property="ticketExpiryDateGroup1" column="TICKET_EXPIRY_DATE_GROUP1" />
		<result property="ticketExpiryYnGroup1" column="TICKET_EXPIRY_YN_GROUP1" />
	</resultMap>
	
<resultMap type="memberTicket" id="memberTicketResult">
	<id property="paId" column="PA_ID"/>
	<result property="ticketCode" column="TICKET_CODE" />
	<result property="paAmount" column="PA_AMOUNT" />
	<result property="memberCode" column="MEMBER_CODE" />
	<result property="paMethod" column="PA_METHOD" />
	<result property="paDateTime" column="PA_DATETIME" />
	
	<result property="ticketCodePersonal1" column="TICKET_CODE_PERSONAL1" />
	<result property="ticketRemainingCountPersonal1" column="TICKET_REMAINING_COUNT_PERSONAL1" />
	<result property="ticketStartDatePersonal1" column="TICKET_START_DATE_PERSONAL1" />
	<result property="ticketExpiryDatePersonal1" column="TICKET_EXPIRY_DATE_PERSONAL1" />
	<result property="ticketExpiryYnPersonal1" column="TICKET_EXPIRY_YN_PERSONAL1" />
	<result property="ticketCodeGroup1" column="TICKET_CODE_GROUP1" />
	<result property="ticketRemainingCountGroup1" column="TICKET_REMAINING_COUNT_GROUP1" />
	<result property="ticketStartDateGroup1" column="TICKET_START_DATE_GROUP1" />
	<result property="ticketExpiryDateGroup1" column="TICKET_EXPIRY_DATE_GROUP1" />
	<result property="ticketExpiryYnGroup1" column="TICKET_EXPIRY_YN_GROUP1" />
	
</resultMap>

<!-- 회원번호에 해당하는 사람의 연동센터 이름 가져오기 -->
<select id="getConnCenterList" resultMap="centerResult" parameterType="int">
	SELECT CT_NAME,CT_CODE
	FROM TBL_CENTER
	WHERE CT_CODE IN (
    		SELECT CONNECTED_CENTER_CODE1 FROM TBL_CST WHERE CS_MEMBER_CODE = #{csMemberCode}
  		    UNION
    		SELECT CONNECTED_CENTER_CODE2 FROM TBL_CST WHERE CS_MEMBER_CODE = #{csMemberCode}
    		UNION SELECT CONNECTED_CENTER_CODE3 FROM TBL_CST WHERE CS_MEMBER_CODE = #{csMemberCode}
			)
</select>

<!-- 수강권구매시 연동된 센터 클릭시 해당 센터의 수강권정보 가져오기 
<select id="getCenterTicketInfo" parameterType="int" resultMap="centerTicketResult">
	SELECT TK_CODE,CENTER_CODE,TK_NAME,TK_LESSON_TYPE,TK_CAPACITY,TK_USAGE_NUM_MONTH,TK_USAGE_COUNT,TO_CHAR(tk_price,'999,999,999') AS tk_price
	FROM tbl_ticket
	WHERE center_code = #{ctCode} AND PURCHASE_AVAILABLE_YN = 't'
</select> -->
<select id="getCenterTicketInfo" parameterType="java.util.Map" resultMap="centerTicketResult">
	SELECT TK_CODE,CENTER_CODE,TK_NAME,TK_LESSON_TYPE,TK_CAPACITY,TK_USAGE_NUM_MONTH,TK_USAGE_COUNT,TO_CHAR(tk_price,'999,999,999') AS tk_price
	FROM tbl_ticket
	WHERE center_code = #{ctCode} AND PURCHASE_AVAILABLE_YN = 't'
		<if test="type == 'individual'">
		AND tk_lesson_type='개인'
		</if>
		<if test="type == 'group'">
		AND tk_lesson_type='그룹'
		</if>
</select>


<!-- 해당 코드의 수강권 상세정보 가져옴 -->
<select id="getTicketDetail" parameterType="String" resultMap="centerTicketResult">
	SELECT TK_NAME,TK_CODE,TK_LESSON_TYPE,TK_CAPACITY,TK_USAGE_NUM_MONTH,TK_USAGE_COUNT,TO_CHAR(tk_price,'999,999,999') AS tk_price,TK_DESCRIPTION
	FROM tbl_ticket WHERE tk_code=#{tkCode}
</select>

<!-- 해당 센터의 수강권 이용정책 가져오기 -->
<select id="getCenterTicketGuide" resultMap="userguideResult">
	SELECT UG_NAME,UG_CONTENT FROM tbl_user_guide 
	WHERE UG_CENTER_CODE=#{centerCode}
	AND UG_TYPE = '수강권'
</select>

<!-- 해당회원이 그룹 수강권 가지고 있는지 확인 -->
<select id="groupTicketCheck" resultType="String">
	select ticket_code_group1 from tbl_cst where cs_member_code=#{csCode} 
</select>

<!-- 해당회원이 개인 수강권 가지고 있는지 확인 -->
<select id="personalTicketCheck" resultType="String">
		select ticket_code_personal1 from tbl_cst where cs_member_code=#{csCode} 
</select>

<!-- 결제 테이블에 결제정보 저장 -->
<insert id="insertPaymentinfo" parameterType="memberTicket" >
	INSERT INTO tbl_payment VALUES (#{paId},#{ticketCode},#{paAmount},#{memberCode},#{paMethod}, TO_TIMESTAMP(#{paDateTime}, 'YYYY-MM-DD HH24:MI:SS'),'f')
</insert>

<!-- 회원 테이블에 수강권 정보 업데이트 / 구매한 수강권 타입에 따라 업데이트 다르게 해야해서 다이나믹SQL사용 -->
<update id="updateMemberTicketInfo" parameterType="memberTicket">
UPDATE tbl_cst 
	<if test="tkLessonType=='그룹'">
		SET TICKET_CODE_GROUP1 = #{ticketCode},
			TICKET_REMAINING_COUNT_GROUP1 = #{ticketRemainingCount},
			TICKET_START_DATE_GROUP1 = #{ticketStartDate},
			TICKET_EXPIRY_DATE_GROUP1 = #{ticketExpiryDate},
			TICKET_EXPIRY_YN_GROUP1 = 'N'
	</if>
	<if test="tkLessonType=='개인'">
		SET TICKET_CODE_PERSONAL1 = #{ticketCode},
			TICKET_REMAINING_COUNT_PERSONAL1 = #{ticketRemainingCount},
			TICKET_START_DATE_PERSONAL1 = #{ticketStartDate},
			TICKET_EXPIRY_DATE_PERSONAL1 = #{ticketExpiryDate},
			TICKET_EXPIRY_YN_PERSONAL1 = 'N'
	</if>
WHERE CS_MEMBER_CODE = #{memberCode}
</update>


<select id="checkTicketUsage" parameterType="java.util.Map" resultType="int">
	SELECT 
		<if test="tkLessonType=='그룹'">
				TICKET_REMAINING_COUNT_GROUP1
		</if>
		<if test="tkLessonType=='개인'">
			TICKET_REMAINING_COUNT_PERSONAL1
		</if>
	FROM tbl_cst WHERE cs_member_code=#{csMemberCode}
</select>

<update id="cancelMemberTicketInfo" parameterType="java.util.Map"  >
	UPDATE TBL_CST  
	<if test="tkLessonType=='그룹'">
		SET TICKET_CODE_GROUP1 = null,
			TICKET_REMAINING_COUNT_GROUP1 = null,
			TICKET_START_DATE_GROUP1 = null,
			TICKET_EXPIRY_DATE_GROUP1 = NULL,
			TICKET_EXPIRY_YN_GROUP1 = NULL
	</if>
	<if test="tkLessonType=='개인'">
		SET TICKET_CODE_PERSONAL1 = null,
			TICKET_REMAINING_COUNT_PERSONAL1 = null,
			TICKET_START_DATE_PERSONAL1 = null,
			TICKET_EXPIRY_DATE_PERSONAL1 = null,
			TICKET_EXPIRY_YN_PERSONAL1 = null,
	</if>
	WHERE CS_MEMBER_CODE = #{csMemberCode};
	
	UPDATE tbl_payment SET pa_cancel_yn = 't'
	WHERE pa_id=#{imp_uid}
</update>
</mapper>