<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ConnectCtDAO">
<resultMap type="connectCt" id="connectCtResult">
		<result property="ctName" column="CT_NAME"/>
		
	</resultMap>

<select id="searchCtList" resultMap="connectCtResult">
 
	SELECT CT_NAME,CT_ADDRESS1 || ' ' || CT_ADDRESS2 || ' ' || CT_ADDRESS3 AS ctAddress
	FROM TBL_CENTER
	WHERE CT_NAME LIKE '%'||#{searchKeyword}||'%' OR CT_ADDRESS1 || ' ' || CT_ADDRESS2 || ' ' || CT_ADDRESS3 LIKE '%'||#{searchKeyword}||'%';

 <!-- 잘 가져오나 테스트용
SELECT CT_NAME,CT_ADDRESS1 || ' ' || CT_ADDRESS2 || ' ' || CT_ADDRESS3 AS ctAddress
	FROM TBL_CENTER
	WHERE CT_NAME LIKE '%필라%' OR CT_ADDRESS1 || ' ' || CT_ADDRESS2 || ' ' || CT_ADDRESS3 LIKE '%필라%';
-->
</select>
	
	
</mapper>