<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings> <!-- 로그 출력 -->
		<setting name="logImpl" value="STDOUT_LOGGING" />
	</settings>
	<typeAliases>
		<typeAlias type="com.dev.pilafix.center.userguide.UserguideVO" alias="userguide" />
		<typeAlias type="com.dev.pilafix.admin.info.AdminInfoVO" alias="adminInfo" />
		<typeAlias type="com.dev.pilafix.center.info.CenterInfoVO" alias="centerInfo" />
		<typeAlias type="com.dev.pilafix.admin.community.CommunityVO" alias="community" />
		<typeAlias type="com.dev.pilafix.member.community.MemberCommunityVO" alias="memberCommunity" />
		<typeAlias type="com.dev.pilafix.admin.center_manage.CenterVO" alias="center" />
		<typeAlias type="com.dev.pilafix.admin.terms.TermsVO" alias="terms" />
		<typeAlias type="com.dev.pilafix.admin.center_manage.SendEmailHistoryVO" alias="emailHistory" />
		<typeAlias type="com.dev.pilafix.member.signup.MemberVO" alias="member" />
		<typeAlias type="com.dev.pilafix.member.question.QuestionVO" alias="question" />
		<typeAlias type="com.dev.pilafix.center.question_reply.QuestionReplyVO" alias="questionReply" />
		<typeAlias type="com.dev.pilafix.admin.faq.FaqVO" alias="faqInfo" />
		<typeAlias type="com.dev.pilafix.admin.complaints.ComplaintsVO" alias="complaintsInfo" />
		<typeAlias type="com.dev.pilafix.admin.sendemailhistory.SendEmailHistoryVO" alias="sendEmailHistoryInfo" />
		<typeAlias type="com.dev.pilafix.admin.sendsmshistory.SendSmsHistoryVO" alias="sendSmsHistoryInfo" />
    <typeAlias type="com.dev.pilafix.center.lesson.CenterLessonVO" alias="centerLesson" />
		<typeAlias type="com.dev.pilafix.member.question.QuestionVO" alias="question" />
		<typeAlias type="com.dev.pilafix.center.question_reply.QuestionReplyVO" alias="questionReply" />		
		<typeAlias type="com.dev.pilafix.member.login.MemberLoginVO" alias="memberlogin" />
	</typeAliases>
	<typeAlias type="com.dev.pilafix.member.ConnectCt.ConnectCtVO" alias="ConnectCt" />
	

	</typeAliases>

	<mappers>
		<mapper resource="mappings/center-userguide-mapper.xml" />
		<mapper resource="mappings/admin-info-mapper.xml" />
		<mapper resource="mappings/center-info-mapper.xml" />
		<mapper resource="mappings/admin-community-mapper.xml" />
		<mapper resource="mappings/member-community-mapper.xml" />
		<mapper resource="mappings/admin-centermanage-mapper.xml" />
		<mapper resource="mappings/admin-terms-mapper.xml" />
		<mapper resource="mappings/member-question-mapper.xml" />
		<mapper resource="mappings/center-questionreply-mapper.xml" />
		<mapper resource="mappings/member-signup-mapper.xml" />
		<mapper resource="mappings/admin-faq-mapper.xml" />
		<mapper resource="mappings/admin-complaints-mapper.xml" />
		<mapper resource="mappings/admin-sendemailhistory-mapper.xml" />
		<mapper resource="mappings/admin-sendsmshistory-mapper.xml" />
		<mapper resource="mappings/admin-membermanage-mapper.xml"/>
		<mapper resource="mappings/center-lesson-mapper.xml" />
		<mapper resource="mappings/member-login-mapper.xml" />
		<mapper resource="mappings/member-ConnectCt-mapper.xml" />
	</mappers>

</configuration>