<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings> <!-- 로그 출력 -->
		<setting name="logImpl" value="STDOUT_LOGGING" />
	</settings>
	<typeAliases>
		<typeAlias type="com.dev.pilafix.member.board.BoardVO" alias="board" />
		<typeAlias type="com.dev.pilafix.center.userguide.UserguideVO" alias="userguide" />
		<typeAlias type="com.dev.pilafix.admin.info.InfoVO" alias="info" />
		<typeAlias type="com.dev.pilafix.admin.community.CommunityVO" alias="community" />
		<typeAlias type="com.dev.pilafix.admin.center_manage.CenterVO" alias="center" />
		<typeAlias type="com.dev.pilafix.admin.terms.termsVO" alias="terms" />
		
	</typeAliases>
	<mappers>
		<mapper resource="mappings/board-mapper.xml" />
		<mapper resource="mappings/center-userguide-mapper.xml" />
		<mapper resource="mappings/info-mapper.xml" />
		<mapper resource="mappings/admin-community-mapper.xml" />
		<mapper resource="mappings/admin-centermanage-mapper.xml" />
		<mapper resource="mappings/admin-terms-mapper.xml" />
	</mappers>

</configuration>